@import 'variables';

.current {
  position: relative;
}
.currentTrucksList {
  position: relative;
  display: flex;
  grid-column-gap: 10px;
  overflow-x: scroll;
  max-width: 840px;
}

.infoCardWrapper {
  max-width: 240px;
}

.btn {
  width: 100%;
}

.noneNearby {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 40px;
  background: $lightgrey;
  font-family: Circular;
}
