@import 'variables';

.current {
  position: relative;
}
.currentTrucksList {
  position: relative;
  display: flex;
  grid-column-gap: 10px;
  overflow-x: scroll;
  max-width: 840px;
}

.infoCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $beige;
  border-radius: 6px;
  padding: 20px;
  width: 240px;
  min-width: 240px;
}

.info {
  display: flex;
  margin-bottom: 8px;
  grid-column-gap: 10px;

  p {
    margin: 0px;
    font-size: 0.9rem;
  }

  .hours {
  opacity: 0.5;
  }
}

.locInfo {
  width: 200px;
}

.btn {
  width: 100%;
}

.noneNearby {
  width: 100%;
  padding: 40px;
  background: $lightgrey;
  font-family: Circular;
}
